@model MvcStok.Models.Entity.TblUrunler
@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("UrunGuncelle", "Urun", FormMethod.Post))
{

    <h2>Ürün Güncelleme</h2>
    <br />
    @Html.HiddenFor(x => x.ID)
    <br />
    @Html.TextBoxFor(x => x.AD, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.MARKA, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.STOK, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.ALISFIYAT, new { @class = "form-control" })
    <br />
    @Html.TextBoxFor(x => x.SATISFIYAT, new { @class = "form-control" })
    <br />
    @Html.DropDownListFor(x => x.TblKategori.ID, (List<SelectListItem>)ViewBag.urunkategori, new { @class = "form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>


}